<h3>A password reset has been requested for this email on <a href="https://reviewmy.email">ReviewMy</a>.</h3>

<p>If this wasn't you, no action is necessary and you can ignore this message.</p>

<p>If this was you, please follow the link below to reset your password:</p>
<a href="<%= PasswordResets::New.url(@user.id, @token) %>">Reset password link</a>
